################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/vehicleRouting/.vs/vehicleRouting/v15
