USE [master]
GO
/****** Object:  Database [vehicleRouting]    Script Date: 25/9/2019 9:55:12 AM ******/
CREATE DATABASE [vehicleRouting]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'vehicleRouting', FILENAME = N'C:\Users\cxvinj\vehicleRouting.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'vehicleRouting_log', FILENAME = N'C:\Users\cxvinj\vehicleRouting_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [vehicleRouting].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [vehicleRouting]
GO
USE [vehicleRouting]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 25/9/2019 9:55:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[EmailAddress] [varchar](60) NOT NULL,
	[Address] [varchar](60) NOT NULL,
	[Packages] [varchar](6) NOT NULL,
	[DeliveryDate] [varchar](10) NOT NULL,
	[DueDate] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Package]    Script Date: 25/9/2019 9:55:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Package](
	[PackageID] [int] IDENTITY(1,1) NOT NULL,
	[PackageWidth] [int] NOT NULL,
	[PackageHeight] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PackageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Package]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
USE [master]
GO
